@import url('https://fonts.googleapis.com/css?family=Gilda+Display');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playfair+Display:wght@800&family=Poller+One&family=Poppins:ital,wght@0,800;1,100&display=swap');
html,
body {
  height: 100vh;
  background-image: url('../imgs/backgrounds/BG__16_9.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 460px) {
  body {
    height: 100vh;
    background-image: url('../imgs/backgrounds/BG__9_16.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#logoContainer {
  width: 100%;
  margin: 0 0 0 0;
}
#mainLogo {
  height: 275px;
  width: auto;
}
#workInProgress {
  color: white;
  font-size: 72px;
  font-family: 'Poppins';
  margin: 1% 0 0 0;
}
div.icons-container {
  margin: 0 0.5% 4% 0;
}
div.icon {
  margin: 0 0 0 4.5%;
  cursor: pointer;
  /* transition: letter-spacing 0.2s ease-in; */
}
/* div.icon:hover {
  letter-spacing: 0.1em;
 } */
p.icon-text {
  color: white;
  font-family: 'Poppins';
  margin-right: 10px;
}
.fa {
  color: white;
  font-size: 20px;
}
.fa-instagram {
  color: white;
}












/* 
------------- OLD VERSION BY TOMMASO -------------

p.title{
    margin-bottom: 2%;
    font-family: "Gilda Display", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 96px;
    letter-spacing: 7px;
    word-spacing: 12px;
    line-height: 100px;
    color: rgb(246, 203, 241);
    background-color: rgba(84, 84, 84, 0);
}
@media screen and (max-width: 460px) {
  p.title{
      font-size: 72px;
      line-height: 72px;
      letter-spacing: 3px;
      word-spacing: 5px;
  }
}

div.dove-quando-container {
  font-family: "Gilda Display", serif;
  text-align: center;
  color: rgb(246, 203, 241);
  background-color: rgba(84, 84, 84, 0);
  margin: 0 !important;
  padding: 0 !important;
}
div.dove-quando-container > p.quando {
  font-size: 64px;
  line-height: 64px;
}
div.dove-quando-container > p.dove {
  font-size: 32px;
  line-height: 32px;
}
@media screen and (max-width: 460px) {
  div.dove-quando-container > p.quando {
    font-size: 48px;
    line-height: 38px;
  }
  div.dove-quando-container > p.dove {
    font-size: 28px;
    line-height: 28px;
  }
}
#map {
  margin: 2% 0 3% 0;
  height: 50%;
  width: auto;
}

p.subtitle{
    margin: 0px;

    font-family: "Gilda Display", serif;
    text-transform: lowercase;
    font-style: italic;
    text-align: center;
    font-size: 27px;
    letter-spacing: 5px;
    word-spacing: 12px;
    color: rgb(246, 203, 241);
    background-color: rgba(84, 84, 84, 0.0);
}
@media screen and (max-width: 460px) {
    p.subtitle{
        font-size: 25px;
        letter-spacing: 3px;
        word-spacing: 0px;
    }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: rgb(246, 203, 241);
  margin-top: 10px;
  margin: 4% 15px 0px 10px;
}

.blink {
    -webkit-animation: blink 6s infinite both;
            animation: blink 6s infinite both;
}

@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
} */